<h3 style="text-align: center;margin-top:20px">
    Su pago ha sido aprobado correctamente.
</h3>
<div style="text-align: center;">
   <a style="text-align: center; margin-top:20px" href="/">Volver al inicio</a> 
</div>