<h3  style="text-align: center;margin-top:20px">
    Su pago se esta procesando. Pendiente.
</h3>
<div style="text-align: center;">
   <a style="text-align: center; margin-top:20px" href="/">Volver al inicio</a> 
</div>