<h3 style="text-align: center;margin-top:20px">
    Su pago ha sido aprobado correctamente.<br><br>

        Metodo de Pago: {{payment_method_id}}  <br>
        Monto Pagodo: {{transaction_amount}}  <br>
        Orden de Pedido: {{order_id}}  <br>
        ID de Pago: {{id}}

</h3>
<div style="text-align: center;">
   <a style="text-align: center; margin-top:20px" href="/">Volver al inicio</a> 
</div>